name: Publish build to Sonatype

on:
  push:
    tags:
      - '*'
  repository_dispatch:
    types: [publish]

jobs:
  publish:
    permissions: write-all
    runs-on: ubuntu-latest
    if: github.repository_owner == 'johnsonlee'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '17'

    - name: Publish Java artifacts to sonatype
      run: |
        echo "Release version ${GITHUB_REF/refs\/tags\/v/} ..."
        echo "Create GPG private key"
        echo $GPG_KEY_ARMOR | base64 --decode > ${GITHUB_WORKSPACE}/secring.gpg
        ./gradlew clean publishMavenJavaPublicationToSonatypeRepository -S --no-daemon \
            -Pversion=${GITHUB_REF/refs\/tags\/v/} \
            -POSSRH_USERNAME=${OSSRH_USERNAME} \
            -POSSRH_PASSWORD=${OSSRH_PASSWORD} \
            -POSSRH_PACKAGE_GROUP=${OSSRH_PACKAGE_GROUP} \
            -Psigning.keyId=${GPG_KEY_ID} \
            -Psigning.password=${GPG_PASSPHRASE} \
            -Psigning.secretKeyRingFile=${GITHUB_WORKSPACE}/secring.gpg
        ./gradlew closeAndReleaseRepository -S --no-daemon \
            -Pversion=${GITHUB_REF/refs\/tags\/v/} \
            -POSSRH_USERNAME=${OSSRH_USERNAME} \
            -POSSRH_PASSWORD=${OSSRH_PASSWORD} \
            -POSSRH_PACKAGE_GROUP=${OSSRH_PACKAGE_GROUP} \
            -Psigning.keyId=${GPG_KEY_ID} \
            -Psigning.password=${GPG_PASSPHRASE} \
            -Psigning.secretKeyRingFile=${GITHUB_WORKSPACE}/secring.gpg
      env:
        JAVA_OPTS: -Xmx8g -XX:MetaspaceSize=1g -Dfile.encoding=UTF-8
        JVM_OPTS:  -Xmx8g -XX:MetaspaceSize=1g -Dfile.encoding=UTF-8
        GPG_KEY_ARMOR: ${{ secrets.GPG_KEY_ARMOR }}
        GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PACKAGE_GROUP: ${{ secrets.OSSRH_PACKAGE_GROUP }}

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}